.pagetabs {
	list-style: none;
	display: -webkit-flex;
	display: flex;
}
.pagetabs li{
	width: 33%;
  text-align: center;
}

li.selected{
	border-bottom: 3px solid #008080;
}

.tab-icon{
	margin-top: 5px;
}

#logo{
	display: inline;
	font-size: 22px;
	margin-left: 14px;
}

.explore {
	vertical-align: bottom;
    float: right;
    margin-right: 4px;
}

.header {
	background-color: black;
	color: white;
	padding: 3% 3% 3% 5%;
}

/* content */

#content {
	background-color: lightgray;
    padding: 20px;
}

#title {
	font-weight: bold;
    font-size: 22px;
}

#meta {
    font-size: 16px;
    color: gray;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
}

#TextCard1 {
	text-align:center;
}

#GOEXPLORE{
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: center;
}

#updatetags {
	margin-top: 7px;
	margin-bottom: 7px;
}

#updatesocial {
	margin-top: 7px;
	margin-bottom: 7px;
}

#updateday {
	margin-top: 7px;
	margin-bottom: 7px;
}

#ImageCard1 {
	text-align: center;
}


/* bottom */

#share {
	background-color: red;
	color: white;
	width: 20px;
    height: 20px;
    padding: 10px;
    position: fixed;
    bottom: 10%;
}

#backtotop {
	position: fixed;
	bottom: 0;
	width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    padding-top: 10px;
}

#footer {
	margin-top: 100px;
}

/* svg styles */
#explore-graphic{
	fill: #008080;
}

#center{
	/* just as an example! */
	/* if you comment this out, the center will be filled as the rest of the svg */
	fill: white;
	stroke: #008080;
  stroke-width:3px;
}
