/* regular */
@font-face {
    font-family: 'liberation_serifregular';
    src: url('font/LiberationSerif-Regular-webfont.eot');
    src: url('font/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Regular-webfont.woff') format('woff'),
         url('font/LiberationSerif-Regular-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifitalic';
    src: url('font/LiberationSerif-Italic-webfont.eot');
    src: url('font/LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Italic-webfont.woff') format('woff'),
         url('font/LiberationSerif-Italic-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Italic-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifbold_italic';
    src: url('font/LiberationSerif-BoldItalic-webfont.eot');
    src: url('font/LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-BoldItalic-webfont.woff') format('woff'),
         url('font/LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-BoldItalic-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifbold';
    src: url('font/LiberationSerif-Bold-webfont.eot');
    src: url('font/LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Bold-webfont.woff') format('woff'),
         url('font/LiberationSerif-Bold-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Bold-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  font-family: 'liberation_serifregular';
  background-color: #EBECED;

}


.pagetabs, .intTab, .updateTabs {
	list-style: none;
	display: -webkit-flex;
	display: flex;
}
.pagetabs li{
	width: 33%;
  text-align: center;
}
.intTab li{
  width: 50%;
	text-align: center;
	padding: 19px 0px 5px 0px;
  background-color: #ccc;
  margin-bottom: 8px;

}
.updateTabs li{
  width: 33%;
  font-size: 16px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #CCCCCC;
  

  
}
.updateTabs li.selected{
  background-color: #fff;
  color: #3B8080;
 
   /*box-shadow: inset 2px 2px 5px rgba(63,63,63, 0.8);*/
}
.tabIntContent{
	display: none;
}
.tabIntContent:first-of-type{
	display: block;
}

/* update tabs */
.tabUpdContent span{
  background-color: rgb(241, 241, 241);
  padding: 6px 12px;
  border-radius: 20px;
  margin: 6px 4px;
  display: inline-block;
  font-size: 14px;

  
}

#newsUpdate {
  margin-bottom: 40px;
  position:relative;
  top: 400px;
  margin-right:10px;

}


.tabUpdContent span.clicked{
  background-color: #C0E0E0;
}

#what, #when, #where{
  background-color: #fff;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 3px #999;
}


.fa-arrow-circle-right:before {
    content: "\f0a9";
    padding-left: 270px;
}

.signUpdate {
    position:relative;
    float: right;
    font-family: 'Open Sans', sans-serif;
   font-size: 19px;
   background-color: #008080;
   float:right;
   text-align: center;
   color:white; 
   border-radius: 20px;
   border:none;
   padding:5px;
   position:relative; 
   margin: 10px;
   top: -50px;
}

li.selected{
	border-bottom: 3px solid #008080;
  font-weight: bold;
  
}

.intTab li.selected {
    border-bottom: 3px solid transparent;
    background-color: transparent;
}

.intTab a {
	  font-family: 'Open Sans', sans-serif;;
    font-size: 1em;
    text-decoration: none;
    color: #008080;
}

.updateTabs li.selected{
  border-bottom: none;
}
.updateTabs li a{
  color: #000;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  
}
.updateTabs li.selected a{
  color: #3B8080;
  /*text-decoration: underline;
  -moz-text-decoration-color: #008080; /* Code for Firefox */
  /*text-decoration-color: #008080;*/
}

#logo{
	display: inline;
	font-size: 24px;
  text-align: left;
  font-family: 'Julius Sans One';
  vertical-align: top;
}


#service{
  float: right;
}



/* position and z-index make the navigation and the header to a fixed one (via class .top) */

.header {
	background-color: black;
	color: white;
	padding: 4% 3% 2% 3%;
 }

.navigation {
     background-color: #fff;
     box-shadow: 0px 2px 10px #a8a8a8;
   }


#explore {
  /*position: fixed;*/
  z-index: 9999;
  width:100%; 
}

#headingExplore {
    padding: 20px 50px 5px 155px;
    display: flex;
    margin-top: 14px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.29);
    font-family: 'open sans';
    color: #FFFFFF;
    font-weight: lighter;
}

.top {
  position: fixed;
  z-index: 9999;
  width:100%;
  margin-top: 0px;
  
}

/*.content h2, img {
 margin-top: 70px;

}*/

/*.fa-2x {
	color: #666;
    margin-top: 7px;
    font-size: 26px;
}*/

.articleShares {

  font-size:12px;
  color:#CCCCCC;
  float: right;
}



.pagetabs li a{width: 100%; height: auto; display: inline-block;  }

  /* This will 'remove' any rights from the <object> of responding to the mouse/pointer.
  We can use this solution when we don't need :hover support inside the SVG.*/
}

/* end new code */

/* content */
/*#sortable{
	cursor: move;
}*/

#mainArticlePage {  
  position:relative;
  top:55px;
  
}

.lead{
	color: #666;
	font-size: 1.2em;
	padding-left: .5em;
	border-left: 3px solid #ddd;
}

.content {
	background-color: #ebeced;
  padding-top: 90px;

}

#headingArticle {
    padding: 2px 140px 2px 135px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.29);
    font-family: 'open sans';
    color: #FFFFFF;
}


#article {
	padding: 20px;
  position:relative;
  min-height:1200px;
}

#title {
	  font-family: 'liberation_serifregular';
    font-size: 26px;
    margin: 8px 0px;
    line-height: 25px;
}

.meta {
    font-size: 12px;
    color: #696969;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    float: left;
    line-height: 15px;
}

#paginated-content{
	white-space: pre-wrap; /* respect line breaks */
	margin-bottom: 10px;
  margin-top:15px;
	position: relative;
	top: 40px;
	left: 0;
}

.articleTextPage {
		width: 250px; 
    background-color: #fff;
    /*border: 1px solid black;*/
		box-shadow: 1px 1px 3px #999;
    padding: 15px;
		font-size: 1em;
		line-height: 1.15em;
		margin: 0 auto; /* this line will place the pages horizontally centered in the window */
		position: relative;
		/* the top values will vary accod=rding to the page and will be set via JS */
}

.pagenr, .imgnr {text-align: center; font-size: .8em;}
.imgnr{
  position: relative;
  top: -420px;
  z-index: 200;
  background-color: rgba(255, 255, 255, .5);
  padding: 3px 0;
}

#interaction {
	margin-top: 40px;
}


#img-gallery{
	width: 315px; /* same as .articleTextPage + padding - img border*/
	margin: 0 auto; /* this line will place the pages horizontally centered in the window */
	position: relative;
	left: 0;
  padding:0px;
  max-height:210px;
  }

#img-gallery img{
	box-shadow: 1px 1px 3px #999;
	border: 10px solid #fff;
	width: 290px;
	position: relative;
  }

  .relatedArticles {
  width:100%;

  }

#TextCard1 {
	text-align:center;
}

/* #GOEXPLORE{
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: center;
}
*/

#newUpdateHeader{
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  /* text-decoration: underline;
  -moz-text-decoration-color: #008080; /* Code for Firefox */
  /*text-decoration-color: #008080;*/
}

#newUpdateText{
  margin-top: 7px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

#updatetags {
	margin-top: 7px;
	margin-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
}

#updatesocial {
	margin-top: 7px;
	margin-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
}

#updateday {
	margin-top: 7px;
	margin-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
}

#ImageCard1 {
	text-align: center;
}

/* explore public */
#tab1 img{width: 100%;}

/* explore personal*/
#tab2 img {
    width: 100%;}

#logIn {
    width: 100%;
    position: fixed;
    background-color: #eee;
    height: 100%;
    text-align: center;
}

#logIn img{
	width: 80%;
}
/*#User img {
  width: 80%;
  position: relative;
  float:right;
  z-index: 99999;
}

#User {
   width: 100%;
   text-align: center;
   height: 100%;
   z-index: 99999;

}*/

/* discussion */
#discussion img {
    width: 100%;
}

/* bottom */

#share-content{
  
  position: fixed;
  bottom: 2%;
  z-index: 500;
}


.label  {
  text-align: center;
	background-color: #008080;	
	width: 30px;
  height: 30px;
  padding: 5px;  
  left: 0;
  position: fixed;
  bottom: 10%;
}

input[type="checkbox"]{display:none;}

.checkbox:checked + .label{
  border-radius: 5px;
}

.checkbox:checked ~ .social {
  opacity:1;
  -webkit-transform: scale(1) translateX(30px);
  -moz-transform:scale(1) translateX(30px);
  -o-transform:scale(1) translateX(30px);
  transform:scale(1) translateX(30px);
    -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}


.social {
  transform-origin:0% 0%;  
  -webkit-transform: scale(0) translateX(-30px);
  -moz-transform:scale(0) translateX(-30px);
  -o-transform:scale(0) translateX(-30px);
  transform:scale(0) translateX(-30px);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  opacity:0;
}
.social ul {
  margin-left :10%;
  margin-bottom: 23%;
  color:#fff;
  height:36px;
  width:180px;
  background:#3B5998;
  padding:0;
  list-style:none;
  /*border-left: 20px solid red;
  border-right: 0px solid red;
  border-top: -30px solid transparent;
  border-bottom: -30px solid transparent;*/
}

.social ul li {
  font-size:20px;  
  cursor:pointer;
  width:60px;
  margin:0;
  padding: 10px 0px 17px 0px;
  text-align:center;
  float:left;
  display:block;
  height:22px;}

/*.social ul:after {
  content:'';
  display:block;
  position:absolute;
  margin-right:50px auto;
  height:0;
  width:0;  
  border-left: 0px solid red;
  border-right: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}*/


#facebook {background:#3b5998}
#twitter {background:#6CDFEA}
#whatsapp {background:#34af23}


/* end share function */

#headingDiscussion {
    padding: 10px 8px 5px 140px;
    display: flex;
    margin-top: 10px;
    position: relative;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.29);
    font-family: 'open sans';
    color: #FFFFFF;
}

#comment {
	  width: 100%;
    height: auto;
    position: fixed;
    bottom: 7%;
    left: 0;
    z-index: 500;
    display: none; 
}

#comment img{    width: 100%;}

.subscribe {

  width:70%;  
  float: center;
}

.poll {
  padding:0px 0px 90px 0px;
  margin-bottom: 10px;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  /*background-color: white;*/
  position: relative;
  top:400px;
  }

.poll span {
  font-size: 19px;  
  position:relative; 
  }

  .subheader {
  font-size: 24px;
  /*position:relative;
  float:left;*/
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 5px 0px;
  padding:0px;

  }


#submit-button{
 font-family: 'Open Sans', sans-serif;
 font-size: 19px;
 background-color: #008080;
 float:right;
 text-align: center;
 color:white;
 border-radius: 20px;
 border:none;
 vertical-align: top;
 padding:10px;
 position:relative; 
 margin: 10px;
}

.pollOptions {
 background-color:#fff;
 text-align: center;
 color: black;
 border: 1px solid #5a5a5a;
 position:relative;  
 top: 15px;
 margin: 0px 5px 0px 0px;
 float:left;
 padding:10px;
 border-radius: 20px;
}

.clicked-poll {
 background-color:#008080;
 opacity: 0.5; 
 text-align: center;
 color: black;
 position:relative;  
 top: 15px;
 margin: 0px 5px 0px 0px;
 float:left;
 padding:11px;
 border-radius: 20px;

}

.clicked {
 background-color:#008080;
 text-align: center;
 color: black;
 margin: 6px 4px;
 padding: 6px 12px;
 border-radius: 20px;
 display: inline-block;
}


.results {
 text-align: left;
 color: white;
 position:relative;   
 margin: 10px;
 padding:10px 5px;
 /*border-radius: 20px;*/
}

#Yes {
  background: linear-gradient(90deg, #ffcc80 67%, #a5d6a7 33%);
  top: 5px;
  float:left;
  width:85%;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0px;
}




#left {
  position: relative;
  float:left;

}

#right {
  position: relative;
  float:right;


}



#backtotop {
	position: fixed;
	bottom: 0;
	width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  padding-top: 10px;
}

#footer {
	margin-top: 50px;
	text-align: left;
  position:relative;
  background-color: #434343;
  color: white;
  font-family: 'Open Sans';
  font-weight:lighter;
  padding:5px;
  display:inline-block;

}

#footer li {
  margin: 10px;
  padding:5px;  
}





  /*.explore-graphic{
	/* just as an example! */
	/* if you comment this out, the center will be filled as the rest of the svg */
	/*fill: white; */
	/*stroke: #008080;
  stroke-width:2px;
} */

/* tour */
/* .popover{
  width: 276px;
}*/

/* General navigation svg styles */
.selected .tab-icon  {   /* the svg selected is turquiose */
  stroke: #008080;  
  stroke-width: 2.5px;
  
  
}
.tab-icon {   /* default svg color when not selected */
  stroke: #696969;
  stroke-width: 1.5px;
  padding:10px 0px 0px 0px;
  fill: none;
  }

.selected .svg-element { /*fills the little svg elements when active*/
fill: #008080;
}

/*  Style for the explore section svg*/

 #compass {
 stroke-width: 1.3px;

}

#comment-bubble {
stroke-width: 4px;
  
}

/*  Style for the top menu svgs*/

.main-nav-svg {
   stroke: white;
   stroke-width: 1px;

}

.options {
  stroke: #696969;
  stroke-width: 1px;
  fill:none;
  padding: 20px 0px 5px 0px;
  float: right;
  height:30;
  position: relative;
  top: -18px;
 }

 .lines {
   border:0.5px solid;
   color: #737373;
   background-color: #737373;
 
 }

}
#share {
 stroke: white;
 stroke-width: 3;
 fill: none;
}

#shared {
  display:none;
}

.share-svg {
 stroke: white;
 stroke-width: 4px;
 fill:white;
 }


#fill-svg {
  fill: white;
  padding-top: 2px;
}

.active {
  fill: #008080;  
  stroke: none;
  stroke-width: 3px;
}

/*Social Media SVG in the footer */

.footer-svg {
 stroke: white;
 stroke-width: 6px;
 fill:none;
 margin:0px 5px;

}

.NewsUpdate-check {
    stroke-width: 1px;
    stroke:black;
    fill:none;
    background-color:none;
    position:relative;
    float:right;
}