/* regular */
@font-face {
    font-family: 'liberation_serifregular';
    src: url('font/LiberationSerif-Regular-webfont.eot');
    src: url('font/LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Regular-webfont.woff') format('woff'),
         url('font/LiberationSerif-Regular-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifitalic';
    src: url('font/LiberationSerif-Italic-webfont.eot');
    src: url('font/LiberationSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Italic-webfont.woff') format('woff'),
         url('font/LiberationSerif-Italic-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Italic-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifbold_italic';
    src: url('font/LiberationSerif-BoldItalic-webfont.eot');
    src: url('font/LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-BoldItalic-webfont.woff') format('woff'),
         url('font/LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-BoldItalic-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_serifbold';
    src: url('font/LiberationSerif-Bold-webfont.eot');
    src: url('font/LiberationSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LiberationSerif-Bold-webfont.woff') format('woff'),
         url('font/LiberationSerif-Bold-webfont.ttf') format('truetype'),
         url('font/LiberationSerif-Bold-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{font-family: 'liberation_serifregular' ;}


.pagetabs, .intTab, .updateTabs {
	list-style: none;
	display: -webkit-flex;
	display: flex;
}
.pagetabs li{
	width: 33%;
  text-align: center;
}
.intTab li{
	width: 50%;
	text-align: center;
	padding: 8px;
  background-color: #ccc;
}
.updateTabs li{
  width: 33%;
  font-size: 16px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #CCCCCC

  
}
.updateTabs li.selected{
  background-color: #fff;
  color: #3B8080;
   /*box-shadow: inset 2px 2px 5px rgba(63,63,63, 0.8);*/
}
.tabIntContent{
	display: none;
}
.tabIntContent:first-of-type{
	display: block;
}

/* update tabs */
.tabUpdContent span{
  background-color: rgb(241, 241, 241);
  padding: 6px 12px;
  border-radius: 20px;
  margin: 6px 4px;
  display: inline-block;
  font-size: 14px;

  
}

#newsUpdate div {
  box-shadow: 1px 1px 3px #999;
  margin-bottom: 40px;
}

.tabUpdContent span.clicked{
  background-color: #C0E0E0;
}

#what, #when, #where{
  background-color: #fff;
  padding: 20px;
}

li.selected{
	border-bottom: 3px solid #008080;
  font-weight: bold;
  
}

.intTab li.selected {
    border-bottom: 3px solid transparent;
    background-color: transparent;
}

.intTab a {
	font-family: 'liberation_serifbold';
    font-size: .9em;
    text-decoration: none;
    color: #008080;
}

.updateTabs li.selected{
  border-bottom: none;
}
.updateTabs li a{
  color: #000;
  text-decoration: none;
  
}
.updateTabs li.selected a{
  color: #3B8080;
  /*text-decoration: underline;
  -moz-text-decoration-color: #008080; /* Code for Firefox */
  /*text-decoration-color: #008080;*/
}

.tab-icon{
	margin-top: 5px;
}

#logo{
	display: inline;
	font-size: 22px;
	margin-left: 14px;
}

#service{
  float: right;
}

#service .fa:first-of-type{
  margin-right: 6px;
}

.header {
	background-color: black;
	color: white;
	padding: 3% 3% 3% 5%;
}

.fa-user:before {

	vertical-align: bottom;
    float: right;
    margin-right: 7px;
    margin-left: 100px;
}

.fa-home:before {

	vertical-align: bottom;
    float: right;
    margin-right: 4px;
}


.fa-2x {
	color: #666;
    margin-top: 7px;
    font-size: 26px;
}

.articleShares {

  font-size:12px;
  color:#CCCCCC;
  float: right;
}

.fa-compass {
	margin-top: 8px;
}

.options {
	padding-bottom: 6px;
  float: right;
}

.options .fa:first-of-type{
  margin-right: 12px;
}

.fa-volume-up {
}

.fa-bookmark {
}

/* content */
/*#sortable{
	cursor: move;
}*/

.lead{
	color: #666;
	/*font-size: 1.2em;*/
	padding-left: .5em;
	border-left: 3px solid #ddd;
}

#content {
	background-color: #ebeced;
}

#article {
	padding: 20px;
}

#title {
	  font-family: 'liberation_serifbold';
    font-size: 22px;
}

.meta {
    font-size: 14px;
    color: gray;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 14px;
}

#paginated-content{
	white-space: pre-wrap; /* respect line breaks */
	margin-bottom: 10px;
	position: relative;
	top: 0;
	left: 0;
}

.articleTextPage {
		/* width: 250px; */
	  background-color: #fff;
    /*border: 1px solid black;*/
		box-shadow: 1px 1px 3px #999;
    padding: 15px;
		font-size: .8em;
		line-height: 1.15em;
		margin: 0 auto; /* this line will place the pages horizontally centered in the window */
		position: relative;
		/* the top values will vary accod=rding to the page and will be set via JS */
}

#img-gallery{
	width: 250px; /* same as .articleTextPage + padding - img border*/
	margin: 0 auto; /* this line will place the pages horizontally centered in the window */
	margin-bottom: 10px;
	position: relative;
	top: 0;
	left: 0;
}

#img-gallery img{
	box-shadow: 1px 1px 3px #999;
	border: 10px solid #fff;
	width: 230px;
	position: relative;
}

#TextCard1 {
	text-align:center;
}

#GOEXPLORE{
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: center;
}

#newUpdateHeader{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  /* text-decoration: underline;
  -moz-text-decoration-color: #008080; /* Code for Firefox */
  /*text-decoration-color: #008080;*/
}

#newUpdateText{
  margin-top: 7px;
  margin-bottom: 12px;
}

#updatetags {
	margin-top: 7px;
	margin-bottom: 7px;
}

#updatesocial {
	margin-top: 7px;
	margin-bottom: 7px;
}

#updateday {
	margin-top: 7px;
	margin-bottom: 7px;
}

#ImageCard1 {
	text-align: center;
}

/* explore public */
#tab1 img{width: 100%;}

/* explore personal*/
#tab2 img {
    width: 100%;}

/* bottom */

#share {
	background-color: red;
	color: white;
	width: 20px;
    height: 20px;
    padding: 10px;
    position: fixed;
    bottom: 10%;
    left: 0;
    z-index: 500;
}

.subscribe {

  width:70%;  
  float: center;
}

.poll {
  margin-top: 40px;
  margin-bottom: 40px;
  width:80%;

}

#backtotop {
	position: fixed;
	bottom: 0;
	width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    padding-top: 10px;
}

#footer {
	margin-top: 100px;
	text-align: center;
}

/* svg styles */
#explore-graphic{
	fill: #008080;
}

#center{
	/* just as an example! */
	/* if you comment this out, the center will be filled as the rest of the svg */
	fill: white;
	stroke: #008080;
  stroke-width:3px;
}

/* tour */
.popover{
  width: 276px;
}
